<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    
    <h1 style="text-align: center; background-color: blanchedalmond;"> **STUDENT MANAGEMENT SYSTEM** </h1><br>

    <hr><br>

    <a href="{% url 'insert' %}" style="text-align: center; display: block; height: 300;"><button type="submit" style = "background-color: lavender; width:160px; height:45px; font-size: 20px;">Insert</button></a><br><br>

    <a href="{% url 'search' %}" style="text-align: center; display: block; height: 300;"><button type="submit" style="background-color: lavender; width: 160px; height: 45px; font-size: 20px;">Search</button></a><br><br>

    <a href="{% url 'update' %}" style="text-align: center; display: block; height: 300;"><button type="submit" style="background-color: lavender; width: 160px; height: 45px; font-size: 20px;">Update</button></a><br><br>

    <a href="{% url 'delete' %}" style="text-align: center; display: block; height: 300;"><button type="submit" style="background-color: lavender; width: 160px; height: 45px; font-size: 20px;">Delete</button></a><br><br>




</body>
</html>